body{
    font-family: 'Passion One', cursive;
    font-family: 'Rubik Dirt', cursive;
    background-image: url('./shep-mcallister-J1j3cImjmgE-unsplash.jpg');
    background-size: cover;
}
#gameContainer{
    text-align: center;
}

canvas {
    /* background-image: url("./simone-viani-2XPHSXVT_Ls-unsplash.jpg");
    background-size: contain; */
    border: 3px solid black;
}
p{
    color: white;
    font-size: 20px;
}
#scoreText{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#resetBtn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #6C935C;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 2px 1px #B5E0A4;
    cursor: pointer;
}
#resetBtn:active{
    box-shadow: 0 5px #95bdd6;
    transform: translateY(4px);
}